/* CSS Document */
/* All comments go between the front slash and asterisk symbols */



body {
	background-color: #90C7ED;   /* background color */
	color: #000000;          /* text color for the entire page */
	font-family: 'Roboto Slab', serif;
}
h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */ color:#0F2884;       /* exploring new text color */
}
h1 {color:#000000;       /* new text color */ 		font-weight: bolder;
	font-size: 300%;
}
h2 {font-size: 150% }

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#F7E58D;
	font-weight: bolder;
	font-size: 125%;
 }

.stepContent{ 
	background-color: lightgrey;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.stepDescription {
	width:55%;
	padding:10px;
	line-height:145%;
}

.caution {
		background-color: #FBB8C4;
		padding:10px;
		border-radius:20px;
	}

.material-icons {
	color:red; 
	font-size:2em;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.stepimage img {	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.stepImage img {
    width:60%;
    height:auto;
}

strong {
  font-weight: 800;
}


