@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #cdif {
border: black 5px solid;
}
 
 #clorox {
display: none; /* hides content */
border: black 5px solid;
}

body {
	background-color:#C9C9C9;   /* background color */
	color: #000000;                /* text color for the page */
}
