@charset "UTF-8";
/* CSS Document */

body {
	background-color: #29A58F;
	color: #000000;   
	font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
	align-content: center;
	align-items: center;
	text-align: center;
}

h1 { 
	text-align:center;  
	color:#8129AB;
}
h2 {text-align: center;
color:black;
font-size: 14px }

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%; 
	color: #0000; 
}

.nav {
	align-content: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color: white;
}
.img {position:fixed;}
	
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

#table {align-content: center}

a:hover {
	font-size:150%;
	background-color: #29A58F; 
	color: black; 
}

#feedback {
	background-color: white; 
	padding: 20px; 
    font-size: 125%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
